<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MPCdotNetClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MPCdotNetClient.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>2001:1af8:fe00:8328::1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>6600</value>
            </setting>
        </MPCdotNetClient.Properties.Settings>
    </userSettings>
</configuration>